#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.create {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(84, 84, 84);
  border-radius: 10px;
  width: 3rem;
  height: 3rem;
  background-color: rgb(206, 206, 206);
}

.create svg {
  fill: black;
  width: 2rem;
  height: 2rem;
}

.create:hover {
  border: 3x solid rgb(84, 84, 84);
  box-shadow: 0px 5px 0px 0px #545454;
  cursor: pointer;
}

.module {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(84, 84, 84);
  border-radius: 10px;
  width: 18rem;
  height: 24rem;
  padding: 2rem 0;
  background-color: rgb(206, 206, 206);
}

.opt {
  display: flex;
  color: black;
  background-color: white;
  padding: 0 1rem;
  border: 0;
  border-radius: 15px;
  align-items: center;
  width: 14rem;
  justify-content: space-between;
}